/* @media only screen and (min-width: 0px)
and (max-width: 767px) { */

* {
    margin: 0;
    padding: 0;
}

.grilla {  display: grid;    
    grid-template-areas:
        "header"
        "nav"
        "medioi"
        "mediod"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 120px 130px auto auto 180px;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.header { 
    grid-area: header;
    display: flex;
    width: 100vw;    
}

.headerImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
  
.nav { 
    grid-area: nav;
    display: flex;
    width: 100vw;
    background-color: black;    
}

.nav ul, .redesFooter, .tarjetasFooter,
.cuerpoServicios__option {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
}

.nav ul li, .redesFooter li, .tarjetasFooter li,
.cuerpoServicios__option li{
    padding: 10px 10px;
    list-style: none;    
}

.nav ul li a, .redesFooter li a, .tarjetasFooter li a {
    color: white;
    text-decoration: none;    
}

.cuerpoServicios__option li a {
    text-decoration: none;
    font-size: 25px;
}

.medioi { 
    grid-area: medioi;
    display: flex;
    flex-flow: column wrap; 
}

.medioi__Arriba, .carruselServicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.medioiAbajo__caja {
    text-align: center;    
    border: 2px solid black;
    margin-bottom: 3px;
}

.img__Index1, .img__Index2 {
    width: 90vw;
    align-items: center;
}
  
.mediod { 
    grid-area: mediod; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mediod__Arriba, .medioi__Arriba,
.usuarioUno__orden, .parrafoServicios,
.cardParrafo {
    padding: 1rem;    
}

.mediodArriba__parrafo, .medioiArriba__parrafo,
.usuarioUno__orden, .parrafoServicios,
.cardParrafo {
    text-align: justify;
}

.mediod__Abajo {
    padding-bottom: 50px;
    font-size: 40px;
}

.quienes__mediod, .cuerpoServicios, .contactoUser {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.btn__Medio {
    width: 100%;
    font-size: 30px;
    background-color: black;
    color: white;
}

.iconosQuienes {
    display: flex;
}

.footer { 
    grid-area: footer;
    display: flex;
    flex-flow: column nowrap;    
    align-items: center;
}

.redesFooter__img, .iconosQuienes__img, 
.usuarioUno__img, .cuerpoServicios__option--img,
.tableImg, .contactoImg {    
    width: 30px;
    height: 30px;
}

.footer {
    background-color: black;
    color: white;
}

.contacto {
    display: flex;
}

.contactoUser1 {
    display: flex;
    padding: 1rem;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactoDate {
    margin-left: 2rem;
}

/*/Aqui empieza el responsive/*/
@media screen and (min-width: 1024px) {
    .grilla {  display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 120px 130px auto auto 180px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header header"
          "nav nav"
          "medioi mediod"
          "medioi mediod"
          "footer footer";
      }
      
      .header { grid-area: header; justify-content: center; }
      

      .nav { grid-area: nav; justify-content: center;
        align-items: center;}

        .nav ul { align-items: center;
        }
      
      .medioi {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "medioi__Arriba"
          "medioi__Abajo";
        grid-area: medioi;
        
      }
      
      .cuerpoServicios { flex-flow: column nowrap;
    align-content: center; align-items: center; 
    font-size: 40px;}
      .medioi__Arriba { grid-area: medioi__Arriba; }
      .img__Index1 { width: 550px; height: 270px; }
      .img__Index2 { width: 50px; height: 80px; }
      .tableImg { width: 70px; height: 80px;}
      .medioi__Abajo { grid-area: medioi__Abajo; }
      .medioi__Abajo { display: flex; flex-direction: column; }
      .cuerpoAbajo__figuras { display: flex; 
        flex-flow: row nowrap;}
    .medioiAbajo__caja { display: flex; flex-flow: column wrap;
    justify-content: flex-end;}
    .tablePaquetes__General { text-align: center;}

      .mediod {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "mediod__Arriba"
          "mediod__Abajo";
        grid-area: mediod;
      }
      
      .mediod__Arriba { grid-area: mediod__Arriba; 
        
    }      

      .mediod__Abajo { grid-area: mediod__Abajo; }
      
      .footer { grid-area: footer; }
      
    
}