* {
    margin: 0;
    padding: 0;
}

.grilla {  display: grid;    
    grid-template-areas:
        "header"
        "nav"
        "medioi"
        "mediod"
        "footer";   
}

.header { 
    grid-area: header;
    display: flex;
    justify-content: center;
}

.headerImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
  
.nav { 
    grid-area: nav;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    background-color: black;    
}

.nav ul {
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}

.nav ul li {
    padding: 10px 10px;
    list-style: none;  
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.redesFooter, .tarjetasFooter,
.cuerpoServicios__option {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
}

.redesFooter li, .tarjetasFooter li,
.cuerpoServicios__option li{
    padding: 10px 10px;
    list-style: none;    
}

.redesFooter li a, .tarjetasFooter li a {
    color: white;
    text-decoration: none;    
}

.cuerpoServicios__option li a {
    text-decoration: none;
    font-size: 25px;
}

.medioi { 
    grid-area: medioi;
    display: flex;
    flex-flow: column wrap; 
}

.medioi__Arriba, .carruselServicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.medioiAbajo__caja {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;    
    border: 2px solid black;
    margin-bottom: 3px;
    padding: 10px;    
    justify-content: center;
    width: 90%;
}

.img__Index {
    width: 90%;
    height: 270px;
}

.img__Index1, .img__Index2, 
.img__Index3, .img__Index4,
.img__Index5 {
    width: 100%;
    align-items: center;
}
  
.mediod { 
    grid-area: mediod; 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.mediod__Arriba{
    width: 90%;
    padding: 1rem;
}

.usuarioUno__orden{
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    text-align: justify;
}

.parrafoServicios {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    padding: 1rem;
    text-align: justify;
    align-items: center;
}

.medioi__Arriba, .cardParrafo {
    padding: 1rem;    
}

.mediodArriba__parrafo, .medioiArriba__parrafo,
.cardParrafo {
    text-align: justify;
}

.mediod__Abajo {
    display: flex;
    flex-flow: column nowrap;    
    padding-bottom: 20px;
    font-size: 40px;
    width: 90%;    
    align-items: center;    
}

.ifra{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.cuerpoServicios {
    display: flex;
    flex-flow: column nowrap;    
}

.quienes__mediod, .contactoUser {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cuerpoDiseños__subtitulo {
    text-align: center;
}

.cuerpoAbajo__figuras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cuerpoAbajo__subtitulo {
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.btn__Medio {
    width: 100%;
    font-size: 30px;
    background-color: black;
    color: white;
    margin-bottom: 2px;
}

.cuerpoServicios__subtitulo {
    text-align: center;
}

.ser {
    padding: 10px 10px;
    margin: 10px 5px;
}

.iconosQuienes {
    display: flex;
    flex-flow: row wrap;     
}

.ico {
    padding: 5px 30px;
}

.usuarioUno {
    display: flex;
    flex-flow: row nowrap;    
    align-items: center;
    padding: 10px 0px;
}

.footer { 
    grid-area: footer;
    display: flex;
    flex-flow: column nowrap;    
    align-items: center;
}

.usuarioUno__img{
    width: 90px;
    height: 90px;
    padding-right: 5px;
}

.redesFooter__img, .iconosQuienes__img, 
.cuerpoServicios__option--img,
.tableImg, .contactoImg {    
    width: 30px;
    height: 30px;
}

.footer {
    background-color: black;
    color: white;
}

.contacto {
    display: flex;
}

.contactoUser1 {
    display: flex;
    padding: 1rem;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.contactoDate {
    margin-left: 2rem;
}

.carru2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.botonesCompra {
    display: flex;
    flex-flow: row wrap;
    width: 91%;
}


/*/Aqui empieza el responsive 600/*/
@media (min-width: 600px) {
    .grilla {  display: grid;        
        grid-template-areas:
          "header header"
          "nav nav"
          "medioi mediod"
          "medioi mediod"
          "footer footer";
      }

      .cuerpoServicios {
        flex-flow: column nowrap;
        align-content: center; 
        align-items: center; 
        font-size: 40px;
    }

.tablePaquetes__General {
    text-align: center;
}

.tableImg {
    width: 60px; height: 70px;
}

}

/*/Aqui empieza el responsive 1024/*/
@media (min-width: 1024px) {
    .grilla {  display: grid;        
        grid-template-areas:
          "header header header"
          "nav nav nav"
          "medioi medioi mediod"
          "medioi medioi mediod"
          "footer footer footer";
      }
        
.nav ul li a:hover {
    background: white; 
    color: blue; padding: 30px 20px;
}
      
.cuerpoServicios {
    flex-flow: column nowrap;
    align-content: center; 
    align-items: center; 
    font-size: 40px;
}

.carru2 {
    width: 90%;
}

.img__Index1 {
    width: 550px;
    height: 270px;
}

.img__Index1:hover {
    transform: scale(1.3);
}

.img__Index2 {
    width: 50px; height: 80px;
}

.tableImg {
    width: 70px; height: 80px;
}

.medioi__Abajo {
    display: flex; flex-direction: column;
}

.cuerpoAbajo__figuras {
    display: flex; 
    flex-flow: row nowrap;
}

.medioiAbajo__caja {
    display: flex; 
    flex-flow: column wrap;
    justify-content: flex-end;
}

.tablePaquetes__General {
    text-align: center;
}

.contactoText {
    height: 40px;
    width: 500px;
    transition: all 2s;}

.contactoText:focus {
    height: 50px;
    width: 600px;
    border-color: blue;
}
}