// Tamaño de las Cards
.c1 {
    height: $tam-card;
}

.carru1 {
    height: $tam-carru1;
    width: $tam-carru2;
}

.gra {
    background-image: $grad-azul-negro;
}

.emp {
    height: 500px;
}

.servicio--img {
    height: 350px;
}

.dise-img {
    height: 180px;
}

.navbar {
    background-image: $grad-azul-negro;
}