// Ejemplos de mixins
@mixin ancho-alto($width, $height) {
    width: $width;
    height: $height;
}

@mixin caja-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
}

@mixin tipogra {        
    border-bottom: $borde_parrafo;
    padding-bottom: $padding-parrafo;
    margin-bottom: $margen-parrafo; 
    text-align: center;
}