* {
    font-family: $fondo-letra;
    text-align: justify;    
}

h3 {
    @include tipogra();
    font-size: $tam-letra24;
}

// Modificando el tamaño de letra del parrafo
.pa {
    font-size: $tam-letra16;
    text-align: $alinea-texto;
}

h1 {
    @include tipogra();
}


