// Paleta de colores
$color-footer: linear-gradient(to left, blue, black);
$color-anima: rgba(64, 74, 214, 0.2);
$color-blanco: white;
$color-navs: rgb(76, 218, 236);

// Separaciones
$margen-parrafo: 10px;
$padding-parrafo: 10px;

// Bordes
$borde_parrafo: 1px solid #9e9e9e;

// Animaciones
$tran_cards: scale(1.1);

// Fondo de letra
$fondo-letra: 'Lobster', cursive;
$tam-letra24: 24px;
$tam-letra16: 16px;
$tam-letra30: 30px;

// Alineación de texto
$alinea-texto: justify;

// Tamaños
$tam-card: 250px;
$tam-carru1: 500px;
$tam-carru2: 100px;
$ancho-50: 50px;


// Gradientes
$grad-azul-negro: linear-gradient(to left, blue, black);