@import "variables";
@import "extends";
@import "mixins";
@import "animaciones";
@import "imagenes";
@import "tipografia";
@import "map_and_each";

// Iconos del Nav
.icnavs {
    font-size: $tam-letra30;
    color: $color-blanco;
        &:hover {
        color: $color-navs;    
    }
}

// Redes y Tarjetas del footer
.redesFooter {
    @include caja-flex();
    li {
        padding: 10px 10px;
        list-style: none;
        a {
            color: white;
            text-decoration: none; 
            .redesFooter__img {
                @include ancho-alto(30px, 30px)
            }
        }
    }        
}

// Modificando el tamaño y hover del navegador
.casa {
    font-size: 50px;
    &:hover {
        color: $color-navs;
    }
}

// Modificando tamaño del logo header
.h {
    width: 100%;
}

.ic {
    height: calc($ancho-50 / 2);
    width: calc($ancho-50 / 2);
}

// Espaciado entre li de las listas ordenadas
.listas li {
    padding-top: 15px;
}